<div class="header">
  <div class="nav flex-column">
    <div class="logo"><a routerLink="/"><img src="../../assets/img/website-bug-70.png" alt=""></a></div>
    <div class="help"><a routerLink="help"><img src="../../assets/img/help-64.png" alt="" height="45" width="45"></a>
    </div>
    <div class="login"><a routerLink="login"><img src="../../assets/img/login-64.png" alt="" height="45" width="45"></a>
    </div>
    <div class="loginName"><a routerLink="">{{userName}}</a></div>
  </div>
</div>
