<div class="menubar">
  <div class="nav flex-column">
    <div class="logo">
      <a routerLink="">
        <h4>DEFECT DASHBOARD</h4>
      </a>
    </div>

    <!-- 1st Steps URL's -->
    <div *ngIf="true" class="set-of-links">
      <div class="link">
        <a routerLink="login">
          <img src="../../assets/img/create-30.png" alt="loginpic">Login</a>
      </div>
      <div class="link">
        <a routerLink="registration">
          <img src="../../assets/img/review-30.png" alt="registrationpic">Registration</a>
      </div>
    </div>
    <!-- 2nd Steps URL's -->
    <div *ngIf="true" class="set-of-links">
      <div class="link">
        <a routerLink="create-project">
          <img src="../../assets/img/create-30.png" alt="createpic">Create Project</a>
      </div>
      <div class="link">
        <a routerLink="review-project">
          <img src="../../assets/img/review-30.png" alt="reviewpic">Review Project</a>
      </div>
      <div class="link">
        <a routerLink="select-project">
          <img src="../../assets/img/select-30.png" alt="selectpic">Select Project</a>
      </div>
    </div>
    <!-- 3rd Steps URL's -->
    <div *ngIf="true" class="set-of-links">
      <div class="link">
        <a routerLink="create-issue">
          <img src="../../assets/img/create-30.png" alt="createpic">Create Issue</a>
      </div>
      <div class="link">
        <a routerLink="review-issue">
          <img src="../../assets/img/review-30.png" alt="reviewpic">Review Issue</a>
      </div>
      <div class="link">
        <a routerLink="select-issue">
          <img src="../../assets/img/select-30.png" alt="selectpic">Select Issue</a>
      </div>
    </div>
  </div>
</div>
